.container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.7em;
  margin: 40px auto;
}


#sidebar {
  background-color: red;
  grid-row: span 4;
}

.main {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}

.nav, #packages, #projects, #form, #packages-form {
  display: flex;
  flex-wrap: wrap;
  background-color: blueviolet;
  width: 100%;
  margin: 0.7em auto;
}

.card-package {
  /* max-height: 100%; */
  display: flex;
  color: white;
  background-color: rgb(51, 50, 50);
  border: 1px solid grey;
  /* display: none; */
}

#inputFormPackage {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(51, 50, 50);
  padding: 15px;
}

.footer {
  background-color: green;
  width: 80%;
  height: 50px;
  margin: 0.7em auto;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    
    li {
      margin: 0px 10px;
    }
  }
}

#projects, #packages, #form {
  height: 300px;
}

.nav {
  height: 50px;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 50px;
  margin-top: 0;

  a {
    color: black;
  }
}

@media screen and (max-width:720px) {
  .container {
    display: flex;
    flex-flow: column;
  }

  #sidebar {
    height: 300px;
    margin-bottom: 0.7em;
  }
}
